# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# others
.env
vite.config.js
server/config/local.js
*.data.json
*.db
*.db-*
*.db-shm
v1*
omen*
tmp
*_rsa*
ps.cmd*
xbid-ai-tokkit
